.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;

  margin-top: 1rem;
}

.send,
.cancel {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 18px;

  font-family: inherit;
  font-size: 20px;
}

.send {
  color: var(--white);
  background-color: var(--blue);
}

.cancel {
  color: var(--white);
  background-color: var(--light-gray);
}